.header{
    display: flex;
    justify-content: space-between;
}

.top-header__rogo img{
    display: inline-flex;
	width: 130px;
	height: 35px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.top-header__nav{
    display:inline-flex;
    margin: 0px 30px 0px auto;
    font-size: 20px;
    font-family: 'Gorditas', cursive;
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
}

.main__h1{
    color: #C71585;
    font-size: 65px;
    font-family: 'Kalam', cursive;
    margin: 111px 15%;
    line-height:90px;
    z-index: 1;
    position: absolute;
}

.main__h1 span{
    color: #66CDAA;
}

.main__text{
    color: #C71585;
    font-size: 25px;
    font-weight:bolder;
    margin: 345px 15%;
    z-index:1;
    position: absolute;
}

.main__text span{
    color: #66CDAA;
}    

.main__note{
    opacity:0.5;
    margin: 370px 15%;  
    line-height: 25px;  
    font-weight:bolder;   
    z-index: 1; 
    position: absolute;
}

.main__img img {
    position: absolute;
    margin: 0px  0px 0px 35%;
    z-index: 0;
}

.list{
    margin: 750px 0px 0px 15%;
}

.list__text{
    color: #C71585;
    font-family: 'Kalam', cursive;
    margin: 0px;
}

.list__title{
    opacity:0.8;
    line-height: 70px;
    font-size: 25px;
    margin: 0px;
}

.news-list{
    list-style: none outside;
    margin: -365px -370px;
    padding: 370px  50% 0px 335px;
}

.news-list .item a{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 0px;
}

.news-list .item:first-child a{
    border-top: 3px solid #CCC;
  }

.news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 15px;
    color: #999;
    padding: 10px 20px 0 0;
}

.news-list .item .category{
    margin: 0;
    min-width: 80px;
    padding: 5px 0px 0 18px;
    color: #CCC;
}

.news-list .item .category span{
    background: #C71585;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 25px;
    font-size: 15px;
    line-height: 1;
    border-radius: 30px;
}

.news-list .item .date{
    min-width: 100px;
}

.news-list .item .title{
    margin: 10px 50px 0px;
}

.description{
    margin: 500px 0px 0px;
    height: 440px;
    width: 100%;
    background-color:#F5F5F5
}

.description__text{
    color: #C71585;
    font-family: 'Kalam', cursive;
    margin: 0px;
    text-align:center
}

.description__title{
    opacity:0.6;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px;
    text-align: center;
}

.description__detail{
    opacity:0.5;
    font-size: 15px;
    margin: 10px 20% auto;
    line-height: 25px;
    font-weight:bold;  
}

.description__detail__two{
    opacity:0.5;
    font-size: 15px;
    margin: 45px 20% auto;
    line-height: 25px;
    font-weight:bolder;  
}

.description__img img{
    margin: -190px 55% auto;    
    width: 400px;
    height: 300px;
}

.service__text{
    color: #C71585;
    font-family: 'Kalam', cursive;
    margin: 40px 20% auto;
}

.service__title{
    opacity:0.6;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 20% auto;
}

.service__content__one{
    position: relative;
    top: 20px;
    left: 300px;
    background:#C71585;
    width: 450PX;
    height: 350px;
}

.service__about__one {
    position:absolute;
    top:60%;
    left:180px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}

.service__work__one{
    position:absolute;
    top:70%;
    left:20px;
    line-height: 25px;
    color: #FFFFFF;
}

.service__img__one img{
    mix-blend-mode: multiply;
    height: 50%;
    width: 50%;
    margin: 15px 110px auto;
}

.service__content__two{
    position: relative;
    top: -330px;
    left: 750px;
    background:#FF69B4;
    width: 450PX;
    height: 175px;
}

.service__about__two {
    position:absolute;
    top:20%;
    left:180px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}

.service__work__two{
    position:absolute;
    top:40%;
    left:180px;
    line-height: 20px;
    color: #FFFFFF;
}

.service__img__two img{
    mix-blend-mode: multiply;
    height: 40%;
    width: 40%;
    margin: 15px 0px auto;
}

.service__content__three{
    position: relative;
    top: -330px;
    left: 750px;
    background:#FFC0CB;
    width: 450PX;
    height: 175px;
}

.service__about__three {
    position:absolute;
    top:20%;
    left:180px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFFFFF;
}

.service__work__three{
    position:absolute;
    top:40%;
    left:180px;
    line-height: 20px;
    color: #FFFFFF;
}

.service__img__three img{
    mix-blend-mode: multiply;
    height: 40%;
    width: 40%;
    margin: 15px 0px auto;
}

.blog-class{
    background-color: #F5F5F5;
    margin: -300px 0px;
    width: auto;
    height: 550px;
}

.blog__text{
    color: #C71585;
    font-family: 'Kalam', cursive;
    margin: 40px 20% auto;
}

.blog__title{
    opacity:0.6;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 20% auto;
}

.blog__card {
    width: 300px;
    height: 300px;
    margin: 20px 0px 0px 300px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius:30px
  }
  
  .blog__card__img img {
    width: 100%;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    position: relative;
  }
  
  .blog__card__content {
    padding: 10px 25px;
  }
  
  .blog__card__content-ttl {
    font-size: 16px;
    margin-bottom: 30px;
    opacity: 0.5;
    font-weight: bold;
    line-height: 25px;
    margin: 1px 1px 10px auto;
  }
  
  .blog__card__content-cat {
    padding: 5px 30px;
    background: #C71585;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 300px;
    border-top-left-radius: 30px
  }
  
  .blog__card__content-tag {
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
  
  .blog__card__content-tag-item {
    display: inline-block;
    opacity: 0.5;
  }
  
  .blog__card__content-tag-ite{
    display: inline-block;
    opacity: 0.5;
  }

  .blog__card__two {
    width: 300px;
    height: 300px;
    margin: 20px 0% auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius:30px;
    position: relative;
  }
  
  .blog__card__img__two img {
    width: 100%;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
  }
  
  .blog__card__content__two {
    padding: 10px 25px;
  }
  
  .blog__card__content-ttl__two {
    font-size: 16px;
    margin-bottom: 30px;
    opacity: 0.5;
    font-weight: bold;
    line-height: 25px;
    margin: 1px 1px 10px auto;
  }
  
  .blog__card__content-cat__two {
    padding: 5px 30px;
    background: #C71585;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: auto;
    left: 0px;
    border-top-left-radius: 30px
  }
  
  .blog__card__content-tag__two {
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
  
  .blog__card__content-tag-item__two {
    display: inline-block;
    opacity: 0.5;
  }
  
  .blog__card__content-tag-ite__two{
    display: inline-block;
    opacity: 0.5;
  }

  .blog__card__three {
    width: 300px;
    height: 300px;
    margin: 20px 270px 0px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius:30px;
    position: relative;
  }
  
  .blog__card__img__three img {
    width: 100%;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
  }
  
  .blog__card__content__three {
    padding: 10px 25px;
  }
  
  .blog__card__content-ttl__three {
    font-size: 16px;
    margin-bottom: 30px;
    opacity: 0.5;
    font-weight: bold;
    line-height: 25px;
    margin: 1px 1px  10px auto;
  }
  
  .blog__card__content-cat__three {
    padding: 5px 30px;
    background: #C71585;
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: auto;
    left: 0px;
    border-top-left-radius: 30px
  }
  
  .blog__card__content-tag__three {
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
  
  .blog__card__content-tag-item__three {
    display: inline-block;
    opacity: 0.5;
  }
  
  .blog__card__content-tag-ite__three{
    display: inline-block;
    opacity: 0.5;
  }

  .blog-flex{
    display: flex;
    justify-content: space-between;
  }

  .blog__btn {
    width: 200px;
    padding: 10px 0;
    color: #FF1493;;
    border-radius: 30px;
    background: #FFF;
    text-align: center;
    margin:50px auto 0;
    display:block;
    border: 1px solid #FF1493;
}

.content-overview{
    margin: 370px 100px auto;
    width: auto;
    height: 200px;
}

.content-overview__text{
    color: #C71585;
    font-family: 'Kalam', cursive;
    margin: 40px 20% auto;
}

.content-overview__titel{
    opacity: 0.6;
    line-height: 70px;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 20% auto;
}

table {
    width: 60%;
    margin: 0px 0px 0px 240px;
    border-collapse: collapse;
    }

table th,
table td {
    border: 1px solid #ccc;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #dedede;
}

.box-work{
    display: flex;
    margin: 300px 0px auto;
    width: 100%;
    justify-content: center;
}

.box-work__interview {
    position: relative;
    width: 50%;
}

.box-work__interview img{
    width: 100%;    
}

.box-work a{
    color:#FFF ;
}

.box-work__titel{
    position:absolute;
    top: 50%;
    left: 35%;
    font-size: 30px;
    color: #000;
    z-index: 1;
}

.box-work__recruit {
    width: 50%;
    position: relative;
}

.box-work__recruit img{
    width: 100%;    
}

.box-work__titel__two{
    position:absolute;
    top: 50%;
    left: 35%;
    font-size: 30px;
    color: #000;
    z-index: 1;
    width: 300px;
    height: 300px;
}
.form{
    width: 100%;
    height: 300px;
}

.form-text{
    margin: 40px 0px  0px 37%;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;;
}
.form__line{
    color: #C71585;
    margin: 22px 50% auto;
    font-size: 60px;
}

.btns-submit{
    display: inline-block;
	margin: 30px 0px 0px 40%;
    text-align: center;
	padding: 30px 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 8pt;
    background: linear-gradient(90deg, #FF69B4, #FF1493);;
	border: 1px solid #FF69B4;
    border-radius: 30px;
    box-shadow: 2px 10px 0px rgba(199,21,133, 0.9);
    font-size: 20px;
} 

.footer{
    background:#F5F5F5 
}

.footer-text{
    text-align:center;
    opacity: 0.6;
}
